body {
  padding: 50px 0;
  background-color: #eaf0f2;
}

/*=================================
  Header styling starts here
=================================*/

h1 {
  margin: 40px 0;
  color: #555;
  font-size: 30px;
  text-align: center;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* Calendar */

.calendar .wrapper > ul {
  display: flex;
  flex-wrap: wrap;
}

.calendar .wrapper > ul > li {
  flex-basis: 200px;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  font-weight: 600;
}

.calendar li h3 {
  padding: 10px;
  background-color: #ab9eee;
  color: #dfdcf3;
  text-align: end;
  text-transform: uppercase;
}

/* Birthday */
.birthdays {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
}

.birthdays li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.empty {
  background-color: #ccc;
  font-family: "FontAwesome";
}

.empty::before {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #777;
  content: "\f119 ";
  font-size: 50px;
}

.big {
  flex-basis: 100%;
}

.medium {
  flex-basis: 50%;
  height: 100px;
}

.small {
  flex-basis: 33%;
  /* height: 50px; */
}

.birthdays li:nth-child(1) {
  color: #fff;
  background-color: #555d7b;
}

.birthdays li:nth-child(2) {
  color: #fff;
  background-color: #9fd400;
}

.birthdays li:nth-child(3) {
  color: #fff;
  background-color: #c97d99;
}

.birthdays li:nth-child(4) {
  color: #fff;
  background-color: #79cae5;
}

.birthdays li:nth-child(5) {
  color: #fff;
  background-color: #e8492a;
}

.birthdays li:nth-child(6) {
  color: #fff;
  background-color: #0055d0;
}

.birthdays li:nth-child(7) {
  color: #fff;
  background-color: #ff1baa;
}

.birthdays li:nth-child(8) {
  color: #fff;
  background-color: #555d7b;
}

.birthdays li:nth-child(9) {
  color: #fff;
  background-color: #0dccfe;
}

/* Form */

form {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: #555;
  font-size: 20px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

textarea:focus {
  outline: none;
}
.form-element {
  flex-basis: 45%;
}

.form-element input {
  border: 1px solid #ccc;
  display: block;
  margin: 10px 0;
}

.form-element input[type="number"] {
  padding: 10px;
}

.form-element input[type="number"]:focus {
  outline: none;
}

.form-element input[type="submit"] {
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #0186ef;
  color: #fff;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
