body {
  padding: 50px 0;
  background-color: #eaf0f2;
}

/*=================================
  Header styling starts here
=================================*/
h1 {
  margin: 40px 0;
  color: #555;
  font-size: 30px;
  text-align: center;
}

/*=================================
  Header styling ends here
=================================*/
/*=================================
  main styling starts here
=================================*/
/* Calendar */
.calendar .wrapper > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calendar .wrapper > ul > li {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin: 10px;
  font-weight: 600;
}

.calendar li h3 {
  padding: 10px;
  background-color: #ab9eee;
  color: #dfdcf3;
  text-align: end;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Birthday */
.birthdays {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 200px;
  border: 2px solid #ccc;
  border-top: none;
}

.birthdays li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.empty {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}

.empty::before {
  content: " ";
  background-image: url("../images/empty.svg");
  background-size: contain;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.big {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.medium {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100px;
}

.small {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  /* height: 50px; */
}

.birthdays li:nth-child(1) {
  color: #fff;
  background-color: #555d7b;
}

.birthdays li:nth-child(2) {
  color: #fff;
  background-color: #9fd400;
}

.birthdays li:nth-child(3) {
  color: #fff;
  background-color: #c97d99;
}

.birthdays li:nth-child(4) {
  color: #fff;
  background-color: #79cae5;
}

.birthdays li:nth-child(5) {
  color: #fff;
  background-color: #e8492a;
}

.birthdays li:nth-child(6) {
  color: #fff;
  background-color: #0055d0;
}

.birthdays li:nth-child(7) {
  color: #fff;
  background-color: #ff1baa;
}

.birthdays li:nth-child(8) {
  color: #fff;
  background-color: #555d7b;
}

.birthdays li:nth-child(9) {
  color: #fff;
  background-color: #0dccfe;
}

/* Form */
form {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #555;
  font-size: 20px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea:focus {
  outline: none;
}

.form-element {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.form-element input {
  border: 1px solid #ccc;
  display: block;
  margin: 10px 0;
}

.form-element input[type="number"] {
  padding: 10px;
}

.form-element input[type="number"]:focus {
  outline: none;
}

.form-element input[type="submit"] {
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #0186ef;
  color: #fff;
}

/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here
=================================*/
/*=================================
  footer styling ends here
=================================*/
/*media query starts*/
/*media query for 995px starts here*/
/*# sourceMappingURL=style.css.map */